body {
    text-align: center;
    background-color: #dadada;
  }
  
  img {
    width: 100%;
  }
  
  h1 {
    text-align: center;
    font-family: 'Erica One', sans-serif;
  }
  
  #title {
    font-size: 72px;
  }
  
  h2 {
    font-family: 'Erica One', sans-serif;
  }
  
  h3 {
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    margin-top: 2%;
  }
  
  .running-total {
    font-family: 'Roboto', sans-serif;
  }
  
  .total-score {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
  }
  
  .player-one-rolls-one {
    font-size: 36px;
    font-family: 'Erica One', sans-serif;
    text-align: center;
    display: none;
  }
  
  .player-col {
    border: 10px solid black;
    border-radius: 6px;
    height: 450px;
    background: white;
  }
  
  .btn {
    height: 60px;
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    color: #fff;
  }
  
  #winner {
    display: none;
    font-family: 'Erica One';
    font-size: 72px;
  }
  
  #player-two-buttons {
    display: none;
  }