body {
    text-align: center;
    background-color: #ce8282;
  }
  
  img {
    width: 100%;
  }
  
  h1 {
    text-align: center;
    font-family: 'Erica One', sans-serif;
  }
  
  #title {
    font-size: 50px;
  }
  
  h2 {
    font-family: 'Erica One', sans-serif;
  }
  
  h3 {
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    margin-top: 8%;
  }
  
  .running-total {
    font-family: "Roboto" sans-serif;
  }
  
  .total-score {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
  }
  
  .player-one-rolls-one {
    font-size: 40px;
    font-family: 'Erica One', sans-serif;
    text-align: center;
    display: none;
   
  }
  
  .player-col {
    border: 10px solid black;
    border-radius: 8px;
    height: 450px;
    background: white;
  }
  
  .btn {
    height: 80px;
    width: 120px;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    color: rgb(13, 25, 95);
    background-color: blueviolet
  }
  
  #winner {
    display: none;
    font-family: 'Erica One';
    font-size: 70px;
  }
  
  #player-two-buttons {
    display: none;
  }